asgiref==3.9.1
certifi==2025.11.12
charset-normalizer==3.4.4
Django==5.2.5
django-filter==25.1
django-stubs==5.2.8
django-stubs-ext==5.2.8
djangorestframework==3.16.1
djangorestframework-gis==1.2.0
djangorestframework-stubs==3.16.6
djangorestframework_simplejwt==5.5.1
idna==3.11
psycopg2-binary==2.9.10
PyJWT==2.12.1
requests==2.32.5
sqlparse==0.5.3
types-PyYAML==6.0.12.20250915
types-requests==2.32.4.20250913
typing_extensions==4.15.0
urllib3==2.6.2
